[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/bbye"]
	path = vim/bundle/bbye
	url = https://github.com/moll/vim-bbye.git
